<?xml version="1.0"?>
<!--
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_TwoFactorAuth
 * @copyright  Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <msp_securitysuite_twofactorauth>
            <general>
                <enabled>0</enabled>
                <force_providers></force_providers>
            </general>
            <google>
                <allow_trusted_devices>1</allow_trusted_devices>
            </google>
            <authy>
                <allow_trusted_devices>1</allow_trusted_devices>
                <onetouch_message>Login request to your Magento Admin</onetouch_message>
            </authy>
            <u2fkey>
                <allow_trusted_devices>1</allow_trusted_devices>
            </u2fkey>
        </msp_securitysuite_twofactorauth>
    </default>
</config>
