<?xml version="1.0"?>
<!--
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_TwoFactorAuth
 * @copyright  Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MSP\TwoFactorAuth\Api\TfaInterface" type="MSP\TwoFactorAuth\Model\Tfa"/>
    <preference for="\MSP\TwoFactorAuth\Api\ProviderManagementInterface" type="\MSP\TwoFactorAuth\Model\ProviderManagement"/>
    <preference for="\MSP\TwoFactorAuth\Api\ProviderConfigInterface" type="\MSP\TwoFactorAuth\Model\ProviderConfig"/>
    <preference for="\MSP\TwoFactorAuth\Api\Data\TrustedInterface" type="\MSP\TwoFactorAuth\Model\Trusted"/>

    <type name="MSP\TwoFactorAuth\Api\ProviderManagementInterface">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="google" xsi:type="object">MSP\TwoFactorAuth\Model\Provider\Google</item>
                <item name="duo_security" xsi:type="object">MSP\TwoFactorAuth\Model\Provider\DuoSecurity</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="msp_twofactorauth" xsi:type="object">MSP\TwoFactorAuth\Command\Tfa</item>
            </argument>
        </arguments>
    </type>
</config>
